body {
    background-color: #fafafa;
}
/*-------article-css---------*/
.wrap {
    width: 70%;
    margin: 0 auto;
}
/* -------------title-zoom---------------- */
.title-zoom {
    text-align: center;
    padding-bottom: 10px;
}




/* --------------article ------ */
#article {
    font-size: 1.4rem;
}
#article img {
    width: 100%;
}
.article-info{
    margin-top:2rem;
    border: 1px dashed rgba(0,0,0,0.61);
    border-right:none;
    border-left:none;
}
.article-info li{
    display: inline-block;
    padding: 2rem 2rem;
}
.flag{
    color: #56D0B3;
    font-size: 1.5rem;
}
/*-------------article-comment-css------------------*/
#article-comment h3{
    padding: 2rem 2rem;
}
#article-comment .comment-info li{
    display: inline-block;
    padding: 1rem 2rem;
}
#article-comment .content{
    padding: 2rem;
    background-color: #eeeeee;
}

#article-comment .text-box{
    width: 100%;
    border: 0;
    border-radius: 3px;
    height: 3rem;
    margin: 0.5rem;
    text-indent: 1rem;
}
#message{
    margin: 0.5rem;
    padding: 0.5rem 0;
    border: 0;
    width: 100%;
    border-radius: 3px;
    text-indent: 1rem;
}
#btn-send{
    border: 0;
    border-radius: 8px;
    background-color: #56D0B3;
    padding: 1rem 2rem;
    margin: 0.5rem;
    color: #ffffff;
}
#btn-send:hover{
    background-color: #7aa;
}

@media (max-width: 980px) {
    .wrap {
        width: 100%;
    }
}