/*----------banner-css---------------*/
#banner{
    margin-top: 2rem;
}
#banner-content{
    float: left;
    padding: 12rem 0 0;
    width: 30%;
}
#tv{
    float: right;
    width: 50%;
}
#tv img{
    width: 100%;
}
/*------------works-css-------------------*/
#works{
    margin-top: 2rem;
}