/*----------banner-css---------------*/
#banner{
    margin-top: 2rem;
}
#banner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
    max-width: 40%;
}
#tv{
    padding: 2rem;
    float: right;
    max-width: 50%;
}
#tv img{
    width: 100%;
}
/*------------blog-top-css-------------------*/
#blog .blog-top h2{
    float: left;
    padding: 2rem;
} 
#blog .blog-cate{
    float: right;
}
#blog .blog-cate li{
    display: inline-block;
    padding: 2rem 1rem;
}
#blog .blog-cate li a{
    padding:0.5rem 1rem;
    border-radius: 1rem;
    color: #279f7c;
    font-weight: bold;
}
#blog .blog-cate li a.active{
    background-color: #279f7c;
    color: #ffffff;
}

#blog .blog-cate li a:hover {
    background-color: #279f7c;
    color: #ffffff;
}
/*------------blog-list-css-------------------*/
#blog .blog-list{
    overflow: hidden;
    margin-bottom:2rem;
}
#blog .blog-li{
    position: relative;
    line-height:0;
    float: left;
    width: 32%;
    margin-top:2rem;
    margin-right:2%;
    overflow: hidden;
}
#blog .blog-li:nth-child(3n){
    margin-right:0;
}
#blog .blog-li img{
    width: 100%;
    display: inline-block;
}
#blog .mask{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: rgba(39, 159, 124, 0.6);
    transition: transform 0.4s ease-in;
}
#blog .blog-title{
    position: absolute;
    top: 35%;
    left:50%;
    transform: translate(-50%);
    font-size: 2rem;
    color: #ffffff;
}
#blog .view-more{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%);
    padding: 2rem 2rem;
    border-radius: 8px;
    color: #ffffff;
    background-color: #000;
}
#blog .blog-li:hover .mask{
    transform: translateX(0);
}

/*-----------media-query-----------------*/
@media (max-width: 767px) {
    #blog .blog-li:nth-child(3n){
        margin-right:2%;
    }
    #blog .blog-li{
        width: 49%;
        margin-top:2rem;
        margin-right:2%;
    }
    #blog .blog-li:nth-child(2n){
        margin-right:0;
    }

}

@media (max-width: 480px) {
    #blog .blog-li:nth-child(2n){
        margin-right:0;
    }
    #blog .blog-li{
        width: 100%;
        margin-top:2rem;
    }

    #banner-content{
        float: none;
        max-width: 100%;
        text-align: center;
        position: relative;
        top:0;
        transform: translateY(0);
    }

    #tv{
        float: none;
        max-width: 100%;
    }
}