/*----------reset-css----------------*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
img{
    border: 0;
}
/*----------common-css----------------*/
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
.clearfix{
    clear: both;
}
html{
    font-size: 10px;
}
body{
    background: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.42857143;
}
::-webkit-input-placeholder{
    color: #fff;
}
/*----------header-css------------------*/
#header {
    margin-top: 4.4rem;
    position: relative;
}
/*--------logo---------*/
#header .logo{
    width: 20%;
    display: inline-block;
}
.logo a img{
    width: 100%;
    display: block;
}
/*-------nav----------*/
#nav {
    width: 60%;
    float: right;
}
#nav ul{
    margin-top: 2.5rem;
    text-align: center;
}

#nav ul li {
    float: left;
    width: 16%;
    display: inline-block;
}

#nav ul li a {
    color: #000;
    font-weight: bold;
}
#nav li a:before{
    content: '[';
    display: inline-block;
    opacity: 0;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
#nav li a:after{
    content: ']';
    display: inline-block;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
#nav li:hover a:before{
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
    opacity: 1;
}
#nav li:hover a:after{
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 1;
}
/*--------------search-css--------------*/
#search{
    margin-right: 3.5rem;
    position: relative;
}
#search input{
    position: absolute;
    right:3.5rem;
    display: none;
    background-color: #279f7c;
    border: 0;
    height: 2.2rem;
    outline: none;
}

#search  .search-btn{
    position: absolute;
    right: 0;
    cursor: pointer;
    background: url(../img/search.png) no-repeat 0 -4px;
    display: inline-block;
    width: 3rem;
    height: 2.2rem;
}

.toggle-btn{
    display: none;
}

/*--------------nav-css-----------------*/
@media (max-width: 767px) {
    .wrapper{
        width: 100%;
    }
/*---------nav-css---------*/
    #nav{
        /*float: none;*/
        z-index: 9;
        width: 100%;
        background-color: #000;
    }

    #nav ul li{
        margin:0;
        padding: 1rem 2rem;
        width: 100%;
        text-align: left;
    }

    #nav ul li a{
        color: #fff;
    }
    #search input{
        display: inline-block;
        border-radius: 9px;
        height:3rem;
        background-color: #000;
        left: 4rem;
    }
    #search .search-btn{
        position: relative;
    }
    #nav .toggle-btn{
        position: absolute;
        font-size: 3rem;
        right: 2rem;
        top: -2rem;
        display: none;
    }
    #nav .menu {
        display: none;
    }
    #nav .open{
        display: block;
    }
    #nav:target .menu{
        display: block;
    }
    #nav:target .close{
        display: block;
    }

}








