/*----------reset-css----------------*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
img{
    border: 0;
}

/*----------common-css----------------*/
html{
    font-size: 10px;
}
h1{
    font-size: 3.6rem;
    margin: 0;
}
body{
    background: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857143;
}
.wrapper{
    box-sizing: border-box;
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}
.clearfix{
    clear: both;
}
/*----------header-css------------------*/
#header {
    margin-top: 4.4rem;
}

.logo{
    float: left;
}
.logo a img{
    display: block;
}

#nav {
    width: 60%;
    float: right;
}
#header ul {
    /*float: right;*/
    width: 100%;
    margin-top: 2.5rem;
    margin-right: 1rem;
/*    position: absolute;
    right: 50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);*/
}

#header ul li{
    font-size: 1.5rem;
    float: left;
    margin: 0 3rem;
}
#header ul li a {
    color: #000;
    font-weight: bold;
}

#search{
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
#search input{
    height: 30px;
    outline: none;
    border: 0;
    margin-right: 30px;
    background-color: #279f7c;
}

#search span {
    color: #FFF;
    background: #F4F4F4 url(../img/search.png) no-repeat 0px -4px;
    z-index: 90;
}
#search span, .search-submit {
    width: 30px;
    height: 28px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}








